
<section class="container py-5 " id="contacto">
    <div class="mt-5 d-flex justify-content-center align-items-center flex-column">
        <h1 class="text-white">CONTACTO</h1>
        <hr class="linea">
        <div class="formulario col-10 p-5 rounded mt-3 text-white d-flex justify-content-center align-items-center flex-column ">
            <div class="col-10 d-flex justify-content-center flex-wrap">
                <div class="col-5 m-4 w-100">
                    <div class="mb-3">
                        <label for="nombre" class="form-label fw-bold">Nombre de contacto:</label>
                        <input type="email" class="form-control" id="nombre" aria-describedby="" placeholder="Ingresa el nombre de contacto">
                    </div>
                    <div class="mb-3">
                        <label for="nombre" class="form-label fw-bold">Asunto:</label>
                        <input type="email" class="form-control" id="asunto" aria-describedby="" placeholder="Ingresa el asunto de la presente">
                    </div>
                    <div class="mb-3">
                        <label for="nombre" class="form-label fw-bold">Correo de contacto:</label>
                        <input type="email" class="form-control" id="correo" aria-describedby="" placeholder="Ingresa el correo de contacto">
                    </div>
                </div>
                <div class="col-5 m-4 w-100">
                    <div class="mb-3">
                        <label for="" class="form-label fw-bold">Mensaje:</label>
                        <textarea class="form-control" id="mensaje" rows="8" placeholder="Ingresa un mensaje mas detallado a enviar"></textarea>
                      </div>
                </div>
            </div>

            <div class="col-10 d-flex justify-content-center align-items-center flex-column">
                <div class="alert text-center d-flex justify-content-center align-items-center">
                    <p class="text-center"></p>
                </div>

            <button class="enviarCorreo">Enviar Correo</button>
        </div>
       
    </div>
   
</section>

<script>


    type HttpMethod = 'GET' | 'POST';


    
    function fetchDataWithDelay(url: string, delay: number, method: HttpMethod = 'GET', body?: any): Promise<any> {
        return new Promise((resolve, reject) => {
            setTimeout(() => {
                const requestOptions: RequestInit = {
                    method: method,
                    headers: {
                        'Content-Type': 'application/json' // Ajusta los headers según sea necesario
                    },
                    body: JSON.stringify(body) // Convierte el body a JSON si se proporciona
                };

                fetch(url, requestOptions)
                    .then(response => {
                        if (!response.ok) {
                            throw new Error('Network response was not ok');
                        }
                        return response.json();
                    })
                    .then(data => {
                        resolve(data);
                    })
                    .catch(error => {
                        reject(error);
                    });
            }, delay);
        });
    }

   


    setTimeout(()=>{
        document.querySelector('.enviarCorreo')?.addEventListener('click', function(){
   
        const nombreInput = document.querySelector<HTMLInputElement>('#nombre');
        const asuntoInput = document.querySelector<HTMLInputElement>('#asunto');
        const correoInput = document.querySelector<HTMLInputElement>('#correo');
        const mensajeInput = document.querySelector<HTMLTextAreaElement>('#mensaje');
        if (nombreInput && asuntoInput && correoInput && mensajeInput) {
            const nombre: string = nombreInput.value;
            const asunto: string = asuntoInput.value;
            const correo: string = correoInput.value;
            const mensaje: string = mensajeInput.value;
            enviarCorreo(correo, asunto, mensaje);
        }
    })
    },500)


    var esActivo : Boolean = false;


    async function enviarCorreo(correo : any, asunto : any, mensaje : any) {

        if(esActivo) return ;
        esActivo = true;
            
        const Bodydata : any = {
            correo,
            asunto,
            mensaje
        }


        const response : any = await fetchDataWithDelay('https://mandarmail.somee.com/api/correo' , 500 , 'POST', Bodydata);


        console.log(response)
      
        


        if(response.Data.enviado){

            esActivo = false;
            const nombreInput = document.querySelector<HTMLInputElement>('#nombre');
            const asuntoInput = document.querySelector<HTMLInputElement>('#asunto');
            const correoInput = document.querySelector<HTMLInputElement>('#correo');
            const mensajeInput = document.querySelector<HTMLTextAreaElement>('#mensaje');

            if (nombreInput && asuntoInput && correoInput && mensajeInput){
                nombreInput.value = '';
                asuntoInput.value = '';
                correoInput.value = '';
                mensajeInput.value = '';

            }
            
            document.querySelector('.alert')?.classList.add('alert-success');
             document.querySelector('.alert')?.classList.remove('alert-danger');
            const alertElement = document.querySelector('.alert');
            if (alertElement) {
                alertElement.innerHTML = response.Data.mensaje;
            }
        }else{
            document.querySelector('.alert')?.classList.add('alert-danger');
            document.querySelector('.alert')?.classList.remove('alert-success');
            const alertElement = document.querySelector('.alert');
            if (alertElement) {
                alertElement.innerHTML = response.Data.mensaje;
            }
            esActivo = false;
        }



    }


</script>

<style>


    .enviarCorreo{
        background-color: #37b3ec;
        color: #fff;
        padding: 10px 20px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        transition: .3s;
        border: 1px solid transparent;
    }

    .enviarCorreo:hover{
        background-color: transparent;
  
        border: 1px solid #fff;
    }

    .linea{
        background-color: #fff;
        width: 150px;
        border: 4px solid #37b3ec;
    }

    .formulario{
        background-color: rgb(59, 59, 218);

    }

</style>