---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import Navbar from '../components/Navbar.astro';
import Inicio from './Inicio.astro';


import Sobremi from './sobremi.astro';
import Proyectos from './proyectos.astro';
---
<script src="https://cdn.jsdelivr.net/npm/particles.js"></script>


<Layout title="Bienvenidos a mi portafolio | Facu Martinez">
	<Navbar></Navbar>
	<div class="animacion">

		
		<Inicio></Inicio>
		<Sobremi></Sobremi>
		<Proyectos></Proyectos>	
	
	</div>
	
</Layout>

<style>


.animacion{
	transform: translate(0, 0px);
    position: relative;
    top: 60px;
	z-index: 1;
}

body{

	font-family: Montserrat,system-ui,-apple-system,sans-serif !important; 
    width: 100%;
	height: 100%;
	background: rgb(21, 11, 116);
	background: linear-gradient(90deg, rgb(22, 10, 129) 0%, rgba(24,42,142,1) 100%);

}
</style>
