---
import Layout from '../layouts/Layout.astro';
import Navbar from '../components/Navbar.astro';
import Sobremi from './sobremi.astro';
import Inicio from './Inicio.astro';
import Proyectos from './Proyects.astro';

---

<Layout title="Bienvenidos a mi portafolio | Facu Martinez">
	<Navbar />
	<Inicio />
	<Sobremi />
	<Proyectos/>

	<span class="subir"><i class="fas fa-arrow-up"></i></span>
	
	
</Layout>

<script>

		const subirtodo = document.querySelector('.subir');

		window.addEventListener('scroll', () => {
			if(window.scrollY > 500){
				subirtodo?.classList.add('subir-active');
			}else{
				subirtodo?.classList.remove('subir-active');
			}
		});


		subirtodo?.addEventListener('click', () => {
			window.scrollTo({
				top: 0,
				behavior: 'smooth'
			});
		});
		
	
	
</script>

<style>
	body{
		background: #3f29a0;
	}

	.subir{
		z-index: 100;
		position: fixed;
		left: 98%;
		top: 98%;
		transform: translate(-98%, -98%);
		font-size: 20px;
		background-color: rgb(85, 73, 255);
		padding: 8px ;
		width: 45px;
		height: 45px;
		text-align: center;
		border-radius: 100px;
		color: white;
		display: none;
		cursor: pointer;
		transition: all 0.3s;
	}



	.subir-active{
		display: inherit !important;
	}

	
</style>