<section class="arriba container vh-100  py-5 d-flex justify-content-center align-items-center" id="inicio">
    <div class="row d-flex justify-content-center align-items-center text-center py-5">

        <img src="mifoto.jpg" class="mi-foto img-fluid rounded-circle py-5" alt="Facundo Martinez" style="width: auto; height: 300px;">

        <h1 class="py-2">Facundo Martinez</h1>
        <h3 class="py-2">Software Developer</h3>
        <h5 class="py-2">Espero compartir mi viaje por el mundo de la informática y que podamos trabajar juntos</h5>
        <div class="col-12 py-4 d-flex justify-content-center">
            <button class="btn-cv m-2">Ver C.V</button>

            <div class="social-media m-2 d-flex align-items-center ">
                <a href="https://www.linkedin.com/in/facundo-martinez-1b1b3b1b1/" target="_blank" class="btn-redes"><i class="fab fa-linkedin fa-2x"></i></a>
                <a href="https://www.linkedin.com/in/facundo-martinez-1b1b3b1b1/" target="_blank" class="btn-redes"><i class="fab fa-github fa-2x"></i></a>
                <a href="https://www.linkedin.com/in/facundo-martinez-1b1b3b1b1/" target="_blank" class="btn-redes"><i class="fas fa-inbox fa-2x"></i></a>
            </div>
        </div>
    </div>
</section>

<style>
   
    
    h1{
        font-size: 65px;
        color: rgb(212, 212, 214);
        font-weight: bold;
    }

    h3{
        font-size: 35px;
        color: #96a9fa;
    }

    h5{
        font-size: 20px;
        color: #f7f7f7;
        width: 50%;
    }

    .social-media{
        display: flex;
        padding: 10px  ;
        border-radius: 5px;
        justify-content: center;
        align-items: center;
        border: 1px solid #fff;

    }

    .btn-cv {
        background-color: #002fff;
        color: #ffffff;
        border: 1px solid #fff;
        padding: 10px  50px;
        border-radius: 5px;
        font-size: 20px;
        font-weight: 555;
        cursor: pointer;
        transition: 0.3s;
    }

    .btn-cv:hover {
        background-color: #ffa5a500;
        color: #ffffff;
        font-weight: 555;
    }


   
    .fab{
        padding: 10px;
        color: #fff;
        transition: 0.2s;
    }

    .fas{   
        padding: 10px;
        color: #fff;
        transition: 0.2s;
    }


    .fab:hover{
        transform: scale(1.1);
    }

    .fas:hover{
        transform: scale(1.1);
    }

    @media screen and (max-width: 768px){
        .mi-foto{
        margin-top: 80px;
        }


        h5{
            width: 100%;
        }
    }
    

</style>