<section class="container vh-100 py-  d-flex justify-content-center align-items-center" id="sobremi">
    <div class="row d-flex justify-content-center align-items-center flex-column text-center py-5">
        <h1>SOBRE MI</h1>
        <hr class="linea mt-3">
        <h4 class="mt-3">A conocernos!</h4>
        <div class="col-12 d-flex m-2 justify-content-center align-items-center">
            <div class="texto-about-div m-5 col-7">
                <span class="texto-about">My name is Alan, I am 14 years old, and I am a frontend web developer. My expectation is to acquire work experience through internships, small projects my own and volunteering to achieve better development in this field and day by day offer better jobs and with a higher quality, in order to offer my services in a professional way or create my company in the future.</span>
            </div>
            <div class="imagen-about-div m-3 col-4">
                <img class="imagen-about" src="https://alangzl.vercel.app/assets/img/about.svg" alt="">
            </div>
        </div>
    </div>
</section>

<style>
    
    h1{
        font-size: 3rem;
        color: #fff;
    }

    h4{
        font-size: 1.5rem;
        color: #fff;
    }

    .linea{
        background-color: #fff;
        width: 150px;
        border: 4px solid #37b3ec;
    }
    
    .imagen-about{
        width: 100%;
        height: 100%;
    }
    
    .texto-about{
        color: #fff;
        width: 100%;
        font-size: 25px;
    }

    @media (max-width: 993px){
        .imagen-about-div
        {
            display: none;
        }

        .texto-about-div{
            width: 100%;
        }
    }
   
</style>