
<section class="container py-5" id="sobremi">
    <div class="todo mt-5 d-flex justify-content-center align-items-start">
        <div class="cosas row d-flex justify-content-center text-center align-items-center ">  
            <h1 class="text-white">SOBRE MI</h1>
            <hr class="linea">
            
            <div class="perfil d-flex justify-content-center row m-1">
                <h2 class="text-white text-start m-3">PERFIL<hr class="linea"></h2>
                <div class="col-sm-8">
                    <span class="texto-about text-white fs-5">Mi nombre es Facundo, tengo 20 años y actualmente estoy estudiando Ingeneria en Sistemas. Mi expectativa es adquirir experiencia laboral en relacion a la carrera actualmente cursando, para lograr un mejor desarrollo en este campo y día a día ofrecer mejores trabajos y con una mayor calidad, para en un futuro formarme como profesional al 100% en lo que me apasiona desde chico.</span>
    
                </div>
                <div class="imagen-ab col-4">
                    <img class="imagen-about" src="https://alangzl.vercel.app/assets/img/about.svg" width="100%" alt="">
    
                </div>
            </div>
            <div class="habilidades d-flex justify-content-center row m-2">
                <h2 class="text-white text-start m-3">HABILIDADES<hr class="linea"></h2>
                <div class="col-12 d-flex justify-content-center flex-wrap">
                    <div class="img-lenguaje text-white">
                        <h5 class="p-1">HTML</h5>
                        <img src="https://skillicons.dev/icons?i=html" alt="">
                    </div>
                    <div class="img-lenguaje text-white">
                        <h5 class="p-1">CSS</h5>
                        <img src="https://skillicons.dev/icons?i=css" alt="">
                    </div>
                    <div class="img-lenguaje text-white">
                        <h5 class="p-1">JS</h5>
                        <img src="https://skillicons.dev/icons?i=js" alt="">
                    </div>
                    <div class="img-lenguaje text-white">
                        <h5 class="p-1">REACT JS</h5>
                        <img src="https://skillicons.dev/icons?i=react" alt="">
                    </div>
                    <div class="img-lenguaje text-white">
                        <h5 class="p-1">ASTRO</h5>
                        <img src="https://skillicons.dev/icons?i=astro" alt="">
                    </div>
                    <div class="img-lenguaje text-white">
                        <h5 class="p-1">.Net</h5>
                        <img src="https://skillicons.dev/icons?i=net" alt="">
                    </div>
                    <div class="img-lenguaje text-white">
                        <h5 class="p-1">C#</h5>
                        <img src="https://skillicons.dev/icons?i=c#" alt="">
                    </div>
                    <div class="img-lenguaje text-white">
                        <h5 class="p-1">JQuery</h5>
                        <img src="https://skillicons.dev/icons?i=jquery" alt="">
                    </div>
                    <div class="img-lenguaje text-white">
                        <h5 class="p-1">SQL Server</h5>
                        <img class="border rounded" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRWHWHPvxQz-DbX5dWbytK3z0uFP_marvzUhw&s" alt="">
                    </div>
                    <div class="img-lenguaje text-white">
                        <h5 class="p-1">MYSql</h5>
                        <img class="border rounded " src="https://pbs.twimg.com/profile_images/1255113654049128448/J5Yt92WW_400x400.png" alt="">
                    </div>
                    
                </div>
            </div>
    
            
        </div>
    </div>
   
</section>

<style>
    .linea{
        background-color: #fff;
        width: 150px;
        border: 4px solid #37b3ec;
    }

    .img-lenguaje{
        background-color: #382d9c;
        padding: 10px;
        width: 180px;
        height: 180px;
        border-radius: 10px;  
        margin: 15px;
        box-shadow: 0px 0px 18px 2px #a396fcbf;
        -webkit-box-shadow: 0px 0px 18px 2px #a396fcbf;
        -moz-box-shadow: 0px 0px 18px 2px rgba(41,18,184,0.75);
        transition: 0.3s;
    }

    .img-lenguaje:hover{
        transform: scale(1.05);
    }

    .img-lenguaje img{
        height: 100px;
    }

 
    @media screen and (max-width: 768px){

        #sobremi{
            margin-top: 100px;
        }

        .cosas{
            margin-top: 50px;

            width: 100% !important;
        }


        .imagen-ab{
            display: none;
        }

        .texto-about{
            width: 100% !important;
        }

        .img-lenguaje{
            width: 110px;
            height: auto;
        }

        .img-lenguaje img{
            height: 80px;
        }   
      

        .todo{
            height: 100% !important;
        }

     
     

    }
</style>