<section class="">
  
    <nav class="navbar navbar-expand-lg position-fixed bg-body-tertiary w-100 mb-5">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">Mi Portafolio</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navtransicion" aria-controls="navtransicion" aria-expanded="false" aria-label="Cambiar navigation">
    
          <span><i class="fas fa-bars"></i></span>
        </button>
        <div class="collapse navbar-collapse" id="navtransicion">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" href="#sobremi"><i class="fas fa-address-card"></i> Sobre Mi</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#proyectos"><i class="fas fa-tasks"></i> Proyectos</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#"><i class="fas fa-sticky-note"></i> Mis Habilidades</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#"><i class="fas fa-inbox"></i> Contacto</a>
            </li>
          </ul>
      
        </div>
      </div>
    </nav>     

</section>
<script>
    let navitem = document.querySelectorAll('.nav-item');
    
    navitem.forEach(nav => {
        if (nav) {
          nav.addEventListener('click', () => {
              document.getElementsByClassName('collapse')[0].classList.remove('show');
          });
      }
    });


    const navbar = document.querySelector('.navbar');
    window.onscroll = () => {
        if (window.scrollY > 300) {
            navbar?.classList.add('nav-active');
        } else {
            navbar?.classList.remove('nav-active');
        }
    };

</script>

<style>
	.navbar{
       z-index: 2;
        height: 60px;
        color: white;
        background-color: transparent !important;
        transition: 0.3s ease-in-out;
    }

    .collapse{
      border: none;
      box-shadow: none;
    }

    .fas {
        display: none;
    }


    .navbar-brand{
        font-weight: bold;
        color: white;
    }

    
    .nav-active {
        background-color: rgb(71, 71, 228) !important;
        box-shadow: 5px -1px 12px -5px grey;
        transition: 0.3s all !important;
    }




    .navbar-toggler-icon{
        color:white !important;

    }

    .navbar-toggler{
        color: #fff !important;
        border: 1px solid transparent;
        border-radius: 0px;

    }

    .navbar-toggler:hover{
      border: 1px solid transparent;

    }

    .nav-link{
        color: white !important;
    }

    .nav-item{
        border-bottom: 2px solid transparent;
        transition: 0.2s;
    }

    .nav-link:hover{
        color: #b2b1ec !important;
    }

    .nav-item:hover{
        animation: lineabajo 800ms;

        border-bottom: 2px solid rgba(87, 96, 226, 0.87);
    }

    @keyframes lineabajo {
    0% {
        border-bottom: 2px solid transparent;
        
    }
    100% {
        
        border-bottom: 2px solid rgba(87, 96, 226, 0.87);
    }
}

    .navbar-nav{
        margin-left: auto;
    }

    @media screen and (max-width: 768px){
      
      .navbar{
        background-color: rgb(74, 85, 236) !important;
      }
      
      

    }


    @media screen and (max-width: 990px){
        .fas {
        display: initial;
        }
        
        .collapse{
          transition: 0.5s all ease-in-out ease-in;
        }

        .navbar-nav{
          margin-top: 50px;
          font-size: 20px;
          display: flex;
          justify-content: start;
          align-items: center;
        }


        .navbar-collapse {
            position: fixed;
            border: none;
            top: 60px;
            left: 0;
            overflow: hidden !important;
            width: 100vw;
            height: 100vh;
            background-color: rgb(24, 82, 240);
            z-index: 1;
            transition: 0.5s all ease-in-out ease-in;
         
        }
        .navbar-collapse ul {
       
          height: 100vh;
        }

        .nav-item{
            padding: 20px;        
            border-bottom: 1px solid rgba(255, 255, 255, 0.5);
            transition: 0.3s;
        }

        .nav-item:hover{
            background-color: rgba(74, 90, 233, 0.897);
        }

        
    }
</style>
