---
interface Props {
	imagen?: string;
	titulo?: string;
	github?: string;
	body?: string;
	href?: string;
	leng?: string;
	
}

var lenguajes: string[] = [];

const { href, titulo, body, imagen,github,leng } = Astro.props;


if(leng){
	lenguajes = leng.split(',');
}

let url: string = '';

---


<div class="carta d-flex justify-content-center align-items-center flex-column m-2">
    <h3 class="text-white m-3">SuperKeys</h3>
    <img src="https://diegosoto.netlify.app/images/journal-app.webp" width="100%" alt="">
    <h5 class="m-3 text-white">Tecnologias Utilizadas:</h5>
    <div class="d-flex flex-wrap justify-content-center align-items-center">
        {
			lenguajes.map((leng) => {
					const url = `https://skillicons.dev/icons?i=${leng}`;
					return (
						<div class="tecnologia"><span><img src={url} alt="" class="imagen-tec" width="30px"/> {leng}</span></div>
					);
				})
		}
        
    </div>

    <div class="botones-card mt-4">
		<a href=""><button class="btns-card"><i class="fas fa-code"></i> Codigo</button></a>
		<a href=""><button class="btns-card"><i class="fas fa-code"></i> Ver Pagina</button></a>
		

	</div>
</div>  

<style>

    h3,h5{
       
        font-weight: bold;
    }

    .carta{
        background-color: rgb(59, 59, 218);
        padding: 20px;
        width: 400px;
        transition: 0.3s;
        border-radius: 20px;
        border: 1px solid transparent;
    }

    .carta:hover{
        border: 1px solid #fff;
        box-shadow: 0px 0px 18px 2px #a396fcbf;
        -webkit-box-shadow: 0px 0px 18px 2px #a396fcbf;
        -moz-box-shadow: 0px 0px 18px 2px rgba(41,18,184,0.75);
    }

    .carta img{
        border-radius: 20px;
    }

    .tecnologia{
        background-color: rgb(102, 104, 211);
        color: white;
        margin: 5px;
        padding: 3px 8px;
        border-radius: 20px;
    }

    .btns-card{
		margin: 5px;
		border: none;
		padding: 8px;
		border-radius: 50px;
		transition: 0.3s;
        border: 1px solid transparent;
	}

	.btns-card:hover{
		transform: scale(1.08);
        border: 1px solid #fff  ;
        box-shadow: 0px 0px 18px 2px #a396fcbf;
        -webkit-box-shadow: 0px 0px 18px 2px #a396fcbf;
        -moz-box-shadow: 0px 0px 18px 2px rgba(41,18,184,0.75);
	}


    @media screen and (max-width: 768px){
        .carta{
            width: 300px;
        }
        
    }

</style>

